x-base-shared-env-base: &base-shared-env
  CLIENT_ID: 
  SESSION_COOKIE_NAME: 
  LIBRARY_COOKIE_NAME: 
  REDIS_HOST: 
  REDIS_PORT: 
  REDIS_PASSWORD: 
  OTEL_EXPORTER_OTLP_ENDPOINT: 
  OTEL_EXPORTER_OTLP_HEADERS: 

x-api-shared-env: &api-shared-env
  <<: *base-shared-env
  APP_ENV: 
  LOG_LEVEL: 
  DB_AUTO_MIGRATE: false
  PORT: 
  DB_HOST: 
  DB_PORT: 
  DB_DATABASE: 
  DB_USER: 
  DB_PASSWORD: 
  DB_SCHEMA: 
  MINIO_BUCKET_NAME: 
  MINIO_BUCKET_TEMP_PATH: 
  MINIO_BUCKET_PUBLIC_PATH: 
  MINIO_ENDPOINT: 
  MINIO_ACCESS_KEY: 
  MINIO_SECRET_KEY: 
  FIREBASE_SERVICE_ACCOUNT_KEY_PATH: 
  SMTP_HOST: 
  SMTP_PORT: 
  SMTP_USERNAME: 
  SMTP_PASSWORD: 

services:
  db:
    restart: always
    image: postgres:16-alpine
    container_name: db
    shm_size: 256mb
    networks:
      - internal_network
    volumes:
      - /home/ubuntu/librarease/postgres16:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 
      POSTGRES_PASSWORD: 
      POSTGRES_DB: 
    command:
      - postgres
      - -c
      - track_activity_query_size=4096
      - -c
      - shared_preload_libraries=pg_stat_statements
    ports:
      - 5433:5432

  redis:
    restart: always
    image: redis:alpine
    container_name: redis
    networks:
      - internal_network
    volumes:
      - /home/ubuntu/librarease/redis:/data
    command: redis-server --appendonly yes --requirepass redispassword

  api-service:
    restart: always
    image: 211125740494.dkr.ecr.ap-southeast-1.amazonaws.com/libraraease:backend
    container_name: api-service
    command: ["./api"]
    networks:
      - internal_network
    ports:
      - 8081:8080
    volumes:
      - /home/ubuntu/deploy/librarease-dev-firebase-adminsdk.json:/app/librarease-dev-firebase-adminsdk.json
    environment:
      <<: *api-shared-env
      DB_AUTO_MIGRATE: true
      OTEL_RESOURCE_ATTRIBUTES: service.name=librarease-api,service.namespace=librarease,deployment.environment=development
      CORS_ALLOWED_ORIGINS: http://localhost:3000,http://librarease.org
    depends_on:
      - db
      - redis

  worker-service:
    restart: always
    image: 211125740494.dkr.ecr.ap-southeast-1.amazonaws.com/libraraease:backend
    container_name: worker-service
    command: ["./worker"]
    networks:
      - internal_network
    volumes:
      - /home/ubuntu/deploy/librarease-dev-firebase-adminsdk.json:/app/librarease-dev-firebase-adminsdk.json
    environment:
      <<: *api-shared-env
      WORKER_CONCURRENCY: 10
      OTEL_RESOURCE_ATTRIBUTES: service.name=librarease-api-worker,service.namespace=librarease,deployment.environment=development
    depends_on:
      - db
      - redis

  scheduler-service:
    restart: always
    image: 211125740494.dkr.ecr.ap-southeast-1.amazonaws.com/libraraease:backend
    container_name: scheduler-service
    command: ["./worker", "-mode", "scheduler"]
    networks:
      - internal_network
    volumes:
      - /home/ubuntu/deploy/librarease-dev-firebase-adminsdk.json:/app/librarease-dev-firebase-adminsdk.json
    environment:
      <<: *api-shared-env
      WORKER_CONCURRENCY: 10
      OTEL_RESOURCE_ATTRIBUTES: service.name=librarease-api-scheduler,service.namespace=librarease,deployment.environment=development
    depends_on:
      - db
      - redis

  frontend-service:
    restart: always
    image: 211125740494.dkr.ecr.ap-southeast-1.amazonaws.com/libraraease:frontend
    container_name: frontend-service
    networks:
      - internal_network
    ports:
      - 3001:3000

    volumes:
      - /home/ubuntu/deploy/librarease-dev-firebase-adminsdk.json:/app/librarease-dev-firebase.json
    environment:
      <<: *base-shared-env
      API_URL: http://api-service:8080
      NEXT_PUBLIC_APP_URL: https://librarease.org
      FIREBASE_API_KEY: 
      FIREBASE_AUTH_DOMAIN: 
      FIREBASE_PROJECT_ID: 
      GOOGLE_APPLICATION_CREDENTIALS: /app/librarease-dev-firebase.json
      OTEL_RESOURCE_ATTRIBUTES: service.name=librarease-next,service.namespace=librarease,deployment.environment=development
      REDIS_DB: 
    depends_on:
      - api-service

  alloy:
    image: grafana/alloy:v1.11.3
    command:
      ["run", "--stability.level=experimental", "/etc/alloy/config.alloy"]
    environment:
      GCLOUD_HOSTED_METRICS_ID: 
      GCLOUD_HOSTED_METRICS_URL: 
      GCLOUD_HOSTED_LOGS_URL: 
      GCLOUD_HOSTED_LOGS_ID: 
      GCLOUD_RW_API_KEY: 
      GCLOUD_FM_URL: 
      GCLOUD_FM_POLL_FREQUENCY: 
      GCLOUD_FM_HOSTED_ID: 
      ARCH: "amd64"
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy
      - ./alloy/postgres_secret_librarease:/var/lib/alloy/postgres_secret_librarease
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - internal_network
    depends_on:
      - db
    ports:
      - 12345:12345

networks:
  internal_network:
